 body {
    /* background: url(../images/background2.jpg) no-repeat center center fixed; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    margin:0px;
    padding:0px;
    font-family: 'Poppins';
    color: white;
} 

.container {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.blogs {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}


.blog_nav h3 {
    display:inline-block;
    margin: 1.5em;
    text-align: center;
}
.blog_nav {
    display: flex;
    justify-content: center;
}

.background {
    padding: 0.7em;
    padding-top: 0.7em;
    padding-top: 69.68px;
    margin-left: 1115px;
    margin: 0em 7%;
    background: rgba(0, 0, 0, 0.788);
}


.example {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
img {
    margin: 1em;
}

.example p {
    text-align: center;
    font-size: 1em;
}

@media (min-width:320px){
    body{
        background-color: blueviolet;
    }
}


@media (min-width:768px){
    body{
        background-color: yellow;
    }
}

@media (min-width:1024px){
    body{
        background-color: red;
    }
}

a:link{color:inherit}
a:active{color:inherit}
a:visited{color:inherit}
a:hover{color:inherit}
    