/* body {
    background: url(../images/background2.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0px;
    padding:0px;
    font-family: 'Poppins';
    color: white;
} */

.container {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.blogs {
    text-align: center; 
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

@media (min-width:320px){
    body{
        background-color: blueviolet;
    }
}


@media (min-width:768px){
    body{
        background-color: yellow;
    }
}

@media (min-width:1024px){
    body{
        background-color: red;
    }
}

